html

   head
   style
      include style.css
      include index.css

      title Simple template

      script(src='/card.js')
   body

      include ./header.pug

      include ./index.html

      include ./footer
