@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(12, 11, 11, 0.927);
  font-family: "Maven Pro", serif;
}

header {
  min-height: 10dvh;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.152);
  border-bottom: 1px solid #c99a23d0;
}

ul.nav-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
}

/* Footer */

footer {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10dvh;
  background-color: #c99a23d0;
}
